<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jsp.addcul">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name="com.jsp.addcul.activity.chat.IndexActivitiy"></activity>
        <activity android:name="com.jsp.addcul.activity.post.ReadPostDetailActivity"
            >
        </activity>
        <activity android:name="com.jsp.addcul.activity.account.MyInfoActivity">

        </activity>
        <activity android:name="com.jsp.addcul.activity.config.SlideActivity">
        </activity>
        <activity android:name="com.jsp.addcul.activity.googlemap.MapActivity">
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyByp1zP0yyRPCkETcxppcybaf-_1bgtUtE" />

        <activity android:name="com.jsp.addcul.activity.googlemap.GoogleMapActivitiy">
        </activity>
        <activity android:name="com.jsp.addcul.activity.kculture.YoutubeActivity">
        </activity>

        <activity android:name="com.jsp.addcul.activity.kculture.NaverActivity" />
        <activity android:name="com.jsp.addcul.activity.config.BasicActivity" />
        <activity android:name="com.jsp.addcul.activity.post.ReadPostActivity" />
        <activity android:name="com.jsp.addcul.activity.account.LoginActivity" />
        <activity android:name="com.jsp.addcul.activity.translate.TranslationActivity" />
        <activity android:name="com.jsp.addcul.activity.problem.PregnancybirthActivity" />
        <activity android:name="com.jsp.addcul.activity.problem.ProblemActivity" />
        <activity android:name="com.jsp.addcul.activity.kculture.KcultureActivity" />
        <activity android:name="com.jsp.addcul.activity.post.WritePostSosActivity" />
        <activity android:name="com.jsp.addcul.activity.post.WritePostSecretActivity" />
        <activity android:name="com.jsp.addcul.activity.kculture.ExperienceActivity03_1" />
        <activity android:name="com.jsp.addcul.activity.kculture.ExperienceActivity03_2" />
        <activity android:name="com.jsp.addcul.activity.kculture.ExperienceActivity03_3" />
        <activity android:name="com.jsp.addcul.activity.kculture.ExperienceActivity03_4" />
        <activity android:name="com.jsp.addcul.activity.kculture.ExperienceActivity03_5" />
        <activity android:name="com.jsp.addcul.activity.kculture.ExperienceActivity03_6" />
        <activity android:name="com.jsp.addcul.activity.problem.EmployActivity" />
        <activity android:name="com.jsp.addcul.activity.problem.BasiclifeActivity" />
        <activity android:name="com.jsp.addcul.activity.kculture.KakaoActivity" />
        <activity
            android:name="com.jsp.addcul.activity.account.SignUpActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.jsp.addcul.activity.account.PasswordResetActivity" />
        <activity android:name="com.jsp.addcul.activity.post.WritePostActivity">
        </activity>
        <activity
            android:name="com.jsp.addcul.activity.chat.ReadChatActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name="com.jsp.addcul.activity.chat.WriteChatActivity">

        </activity>
        <activity android:name="com.jsp.addcul.MainActivity">

        </activity>
        <activity android:name="com.jsp.addcul.activity.config.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>